/* values for both mobile & desktop */
  
body{font-family: 'Roboto', sans-serif;}
    
h2 {color: #5E777A;}

/* trying out media queries large screen */
@media screen and (min-width: 480px) {
    header < h1 {
      position: relative;
      margin: 0;
      padding-top:1em;
      padding-bottom: 1em;
    }

    h1{
      padding-left: 5em;
      padding-bottom: 1em;
      padding-top: .5em;
      background-color:  white;
      margin: 0 auto;
      font-weight: bold; 
      letter-spacing: -1px; 
      line-height: 1; 
    }

    body {
      background-color: #96D5EB;
    }

    h2, h3, p {
      font-size: 2.25em;
      display:inline-block; 
      padding:1em;
      text-shadow: 1px 1px 1px #000;
      letter-spacing: .05em;}
    }
    #today{
      color: #000080;
    }

    a {
      color: #000080;
      text-align: center;
      font-size: 1.75em;

    }

     #demo, #map, #whatToWear, #threeForecast {
      color: #000080;
      font-size: 2em;
      text-align: center;
    }   
}

