

/* catch all for responsiveness */
  img, embed, object, video {
    max-width: 100%
  }
  button {
    min-width: 48px;
    min-height: 48px;
  }


/* trying out media queries small screen */
@media only screen and (max-width: 480px) {
    header {
      background-color: #FFF5EE;
      text-align: center;
    }
    header < h1 {
      font-size: .75em;
      font-weight: 300;
      position: relative;
    }

    h1{
      background-color: white;
      margin: 0 auto;
    }

    body {
      background-color: #ADD8E6;
    }
    .img-responsive {
      margin: 0 auto;
    }
    h2 {
      font-size: 1.25em;
      text-align: justify; 
      margin-left: 1.5em;
    }
}
